// Alle Rezepte
.kacheln {
    display: flex;
    align-items: center;
    flex-direction: column;

    .allerezepte {
        padding: 2rem 0 5rem 0;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    
        .rezept {
            height: 16rem;
            width: 16rem;
            position: relative;
            cursor: pointer;
            box-shadow: 8px 11px 51px -21px rgba(0,0,0,0.6);
    
            img {
                height: 16rem;
                width: 16rem;
            }
    
            i {
                color: $red;
                cursor: pointer;
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;
            }

            .image-title {
                position: absolute;
                text-align: center;
                bottom: 0;
                width: 90%;
                padding:10% 0 10% 10%;
                opacity:0;
                transition: all 0.5s ease;
                cursor: pointer;
                font-size: 1rem;
            }
        }

        .rezept:hover .image-title{
            position: absolute;
            bottom:0;
            opacity:1;
            background: linear-gradient(to right, #d3cce3, #e9e4f0);
            color: black;
        }
    }

    .error-message-recipe {
        font-size: 1.25rem;
        color: $dark_blue;
        border: $red 1px solid;
        padding: 1rem;
    }
}

/* Einzelnes Rezept */
.einzelnes_rezept {
    padding: 10rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img_title {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;

        img {
            height: 20rem;
            width: 20rem;
        }

        .info {
            margin-left: 4rem;

            h1 {
                font-size: 3rem;
                font-family: 'Looking Flowers', sans-serif;
                color: $dark_blue;
            }

            h2 {
                font-size: 2.5rem;
                font-family: 'Looking Flowers', sans-serif;
                color: $dark_blue;
            }

            p {
                font-size: 1.15rem;
            }

            ul {
                font-size: 1.15rem;
            }

            .ingredients, .description {
                margin-top: 1rem;
            }

            .description {
                li {
                    list-style-type:decimal !important;
                }

                ol {
                    li {
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: $breakpoint-tablets) {
    .einzelnes_rezept {
        .img_title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .info {
                margin-left: 0;
                margin-top: 3rem;
            }
        }
    }    
}

@media only screen and (max-width: $breakpoint-phone) {
    .einzelnes_rezept {
        padding-top: 3rem;

        .img_title {
            img {
                width: 100vw;
                height: auto;
            }
        }
    }
}