// Text Sections
.text {
    margin: 3rem auto 3rem auto;
    padding: 0 2rem 0 2rem;
    max-width: 85rem;
    text-align: center;
    color: $text_color;

    h1 {
        font-family: 'Looking Flowers', sans-serif;
        font-size: 4rem;
    }

    h2 {
        font-family: 'Looking Flowers', sans-serif;
        font-size: 4rem;
    }

    .flower-font {
        font-family: 'Looking Flowers', sans-serif;
        font-size: 2.5rem;

        a {
            text-decoration: none;
            color: $red;
        }
    }

    p {
        font-size: 1.25rem;
    }
}

